

.container{
    display: flex   ;
    background-image: url("../../img/Fondo.png");
    background-repeat: no-repeat;
    width: 98.9.54vw;
    height: 49vw;
    margin-top: -1%;
    margin-left: -1%;
    margin-bottom: -1%;

}