.app-container{
    height: 100vh;
  
  display: flex;
}

.my-dashboardlanding{
    display: flex;
  width: 100%;
}
.container{
    display: flex   ;
    background-image: url("../../img/YWdHwTrVUE_bn_wanda\ 1.png");
    width: 100%;

}
