.Profilepicture{
    width: 14%;
    height: 4%;
}

.username{
    margin-top: -13%;
}

.Nickname{
    color: #8191a1;
    margin-top: -2%;
}

.buttonmenu{
    margin-left: 25%;
    margin-top: -40%;
}

.info{
    margin-left: 4%;
    margin-top: 5%;
}