.logo{ 
    margin-top: 8%;
    margin-left: 33%;
    width: 30%;
}
.home{
    width: 10%;
    margin-top: 14%;
    margin-left: 10%;
}
.notifi{
    width: 10%;
    margin-top: 10%;
    margin-left: 10%;

}
.explore{
    width: 10%;
    margin-top: 10%;
    margin-left: 10%;

}

.profile{
    width: 10%;
    margin-top: 10%;
    margin-left: 10%;


}